.articulo{
    background: #edf8ed;
    border: solid 1px #647865;
    font-family: helvica;
    font-size: 14px;
    width: 450px;
    overflow: hidden;
    margin: 20px;
    padding: 10px;
    text-align: justify;
ss
}